{% extends 'base.html' %}
{% block css_style %} 

    <link rel="stylesheet" href="{{url_for('static',filename='css/grid.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/modal.css')}}"> 

{% endblock %}
{% block nav_report %}active{% endblock %}


{% block content %}

<div class="grid-container two-grid">
    <div class="grid-item">
        <div class="">
                
                

        </div>
    </div>
    <div class="grid-item">

    </div>
</div>
<div class="table-container">
    <h3>Sale Items</h3>
    {% for sale in sales %}
                {{sale.Date}} | {{sale.Staff_id}}
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Inventory ID</th>
                <th>Quantity</th>
                <th>Sale Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock  %}



{% block jscontent %}
{% endblock  %}
