{% extends 'base.html' %}


{% block css_style %} 

    <link rel="stylesheet" href="{{url_for('static',filename='css/flex.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/grid.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/modal.css')}}"> 

{% endblock %}
{% block nav_staff %}active{% endblock %}
{% block content %}

{% for field, errors in form.errors.items() %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{field}}: {{ error }}</li>
        {% endfor %}
    </ul>
{% endfor %}


<form action="{{url_for('utils.excel_upload',entity = "staff")}}" method="post" enctype = "multipart/form-data" >
    <input type = "file" name = "file"  />
    <input type="submit" name="upload_excel" value="IMPORT">
    <br><br>
</form>
<div class="flex flex-between-center">
    <a href="{{url_for('staff.create_staff')}}" class="button success">Create</a>
    <form action="{{url_for('staff.search_staff')}}" method="get" class="flex flex-start-center">
        <input type="text" name="search" style="display: inline-block; margin: 0 10px 0 0;" placeholder="Search Field" required>
        <button type="submit" class="button primary">Search</button>
    </form>
</div>
<div class="table-container maxheight-800 scrollable">
    <table >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staffs %}
            <tr>
                <form method="POST" action="{{ url_for('staff.quick_edit', id=staff.id) }}" style="display: inline-block;">
                    {{ form.csrf_token }}
                <td>
                    <span><a href="{{url_for('staff.get_staff',id = staff.id)}}">{{ staff.id}}</a></span>
                    {{form.id(value=staff.id,style="display:none")}}
                </td>      
                <td>
                    <span><a href="{{url_for('staff.get_staff',id = staff.id)}}">{{ staff.Name}}</a></span>
                    {{form.name(value=staff.Name,style="display:none")}}
                </td>      
                <td>
                    <span>{{ staff.Email}}</span>
                    {{form.email(value=staff.Email,style="display:none")}}
    
                </td>      
    
                <td>
                    <!-- <span>{{ staff.Role}}</span> -->
                    {{staff.Role}}

                </td>    
                
                <td>
                    <button type="button" class="button info" id="edit" href="javascript:;"><i class='bx bx-edit'></i></button>
                    <button type="submit" class="button info" id="update" style="display: none;"><i class='bx bx-check'></i></button>
                    <button type="button" class="button gray" id="cancel" href="javascript:;" style="display: none;"><i class='bx bx-x'></i></button>
                    
                </form>
                
                    <form method="POST" action="{{ url_for('staff.delete_staff', id=staff.id) }}" style="display: inline-block;">
                        <button id="delete" type="submit" class="button error" onclick="return confirm('Are you sure you want to delete this item?')"><i class='bx bx-trash-alt'></i></button>
                    </form>
                </td>    
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}

{% block jscontent %}
<script src="{{url_for('static',filename='/js/tablefield_editable.js')}}"></script>
{% endblock %}