{% extends 'base.html' %}
{% block nav_staff %}active{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/flex.css')}}">
{% endblock %}
{% block content %}
{% if action == 'add' %}
<div class="form-container">
    <h3>Add Staff</h3>
    <form method="post" action="{{url_for('staff.create_staff')}}">
        {{ form.csrf_token }}
        <!-- Or form.hidden_tag() -->

        <div>
            {{ form.name.label }}
            {{ form.name() }}
            
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email() }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password()}}


            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password()}}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.role.label }}

            <select name="role" id="role">
                {% for choice_key, choice_label in form.role.choices %}
                    <option value="{{ choice_key }}"  {% if choice_key == "staff" %}selected{% endif %}>{{ choice_label }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            {{ form.auto_generate_id }} {{ form.auto_generate_id.label }}
        </div>
        <div>

            {{ form.id.label }}

            {{ form.id(value=form.id.data, disabled=true) }}

            {% for error in form.id.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <button class="button success" type="submit">{% if action == 'add' %}Add{% else %}Update{% endif %}</button>
        </div>
    </form>
</div>

{% endif %}
{% if action == 'edit' %}
<div class="form-container">
    <h3>Edit Staff</h3>
    <form method="post" action="{{url_for('staff.get_staff',id = staff.id)}}">
        {{ form.csrf_token }}
        <!-- Or form.hidden_tag() -->

        <div>
            {{ form.name.label }}
            {{ form.name(value=staff.Name) }}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(value=staff.Email) }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(value=staff.Password) }}

            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password()}}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.role.label }}

            <select name="role" id="role">
                {% for choice_key, choice_label in form.role.choices %}
                {% if staff and staff.Role == choice_key %}
                <option value="{{ choice_key }}" selected>{{ choice_label }}</option>
                {% else %}
                <option value="{{ choice_key }}">{{ choice_label }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>

            {{ form.id.label }}
            {{ form.id(value=form.id.data) }}

            {% for error in form.id.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <button class="button info" type="submit">Update</button>
        </div>
    </form>
</div>

{% endif %}


{% endblock %}






{% block jscontent %}
<script>

    var chk_autoid = document.getElementById('auto_generate_id')

    chk_autoid.addEventListener('change', () => {
        var field_id = document.getElementById('id')
        if (chk_autoid.checked)
            field_id.disabled = true
        else
            field_id.disabled = false
    })
</script>
{% endblock %}