{% extends 'base.html' %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            {% for colname in column_names if colname not in ['id','Password'] %}
            
            <th>{{ colname }}</th>
            {% endfor %}
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in staffs %}
        <tr>
            <form method="POST" action="{{ url_for('staff.edit_staff', id=staff.StaffID) }}" style="display: inline-block;">
            <td>
                <span>{{ staff.StaffID}}</span>
                <input type="text" style="display: none;" name="staff_id" id="staff_id" value="{{staff.StaffID}}" required>
            </td>      
            <td>
                <span>{{ staff.StaffName}}</span>
                <input type="text" style="display: none;" name="staff_name" id="staff_name" value="{{staff.StaffName}}" required>
            </td>      
            <td>
                <span>{{ staff.StaffEmail}}</span>
                <input type="email" style="display: none;" name="staff_email" id="staff_name" value="{{staff.StaffEmail}}" required>

            </td>      

            <td>
                <!-- <span>{{ staff.Role}}</span> -->
                
                <input type="radio" name="role" id="admin" value="admin" {% if staff.Role == 'admin' %} checked {% endif %} disabled><label for="admin">admin</label>
                <input type="radio" name="role" id="staff" value="staff" {% if staff.Role == 'staff' %} checked {% endif %} disabled><label for="staff">staff</label>
            </td>    
            
            <td>
                <button type="button" id="edit" href="javascript:;">edit</button>
                <button type="button" id="cancel" href="javascript:;" style="display: none;">Cancel</button>
                
                    <button type="submit" id="update" style="display: none;">Update</button>
            </form>
            
                <form method="POST" action="{{ url_for('staff.delete_staff', id=staff.StaffID) }}" style="display: inline-block;">
                    <button id="delete" type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
                </form>
            </td>    
           
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    var btnEdits = document.querySelectorAll('#edit');
    var btnCancels = document.querySelectorAll('#cancel');
    btnEdits.forEach((btnEdit)=>{
        btnEdit.addEventListener('click',editable);
    })
    
    btnCancels.forEach((btnCancel)=>{
        btnCancel.addEventListener('click',editable)
    })

    function editable(event) {
        var row = event.target.closest('tr');
            var inputElements = row.querySelectorAll('input:not([type=radio])');
            var spanElements = row.querySelectorAll('span');
            var radioElements = row.querySelectorAll('input[type="radio"]');
            inputElements.forEach((inputElement) => {
                inputElement.style.display = (inputElement.style.display === 'none') ? 'inline-block' : 'none';
            });

            spanElements.forEach((spanElement) => {
                spanElement.style.display = (spanElement.style.display === 'none') ? 'inline-block' : 'none';
            });

            radioElements.forEach((radioElement) => {
                radioElement.disabled = (radioElement.disabled === true) ? false : true;
            });
             // Toggle the display of the edit, update, and cancel links
            row.querySelector('#edit').style.display = (row.querySelector('#edit').style.display === 'none') ? 'inline-block' : 'none';
            row.querySelector('#update').style.display = (row.querySelector('#update').style.display === 'none') ? 'inline-block' : 'none';
            row.querySelector('#cancel').style.display = (row.querySelector('#cancel').style.display === 'none') ? 'inline-block' : 'none';
            row.querySelector('#delete').style.display = (row.querySelector('#delete').style.display === 'none') ? 'inline-block' : 'none';
    }
</script>

{% endblock %}