{% extends 'base.html' %}
{% block nav_dashboard %}active{% endblock %}
{% block content %}
    Links:
    <ul>
        <li><a href="{{url_for('staff.index')}}">Staff Management</a></li>
        <li><a href="{{url_for('product.index')}}">Inventory/ Stock Management</a></li>
        <li><a href="#">Daily Sales Report</a></li>
        <li><a href="{{url_for('category.index')}}">Category</a></li>
    </ul>
    <br>
    
    Form:
    

    <br><br><br>
    Website Theme:
    In Progress...
{% endblock %}